<div class="files">
	<div class="divider">
		<div class="panel"> 
			
			<ul class="tree folders" ng-tree="folders" >
				<li ng-class="{'tree-opened': item.isopen}">
					<div ng-click="folderSelect()" ng-class="{selected: item.path==selectedFolder.path}">
						<i ng-class="{'tree-opened': item.isopen, 'tree-closed': !item.isopen, hidden: !item.haschildren, 'tree-icon': true}" ng-click="folderOpenClose()" stop-event='click'></i>
						<i ng-class="{'tpl-icon':true, 'tpl-drive': item.isroot, 'tpl-folder': !item.isroot}"></i> 
						{{item.label}}
					</div>
				</li>
			</ul>
		
		</div>
		<div class="panel">
			<div class="panel-top">
				<button>Upload from url</button>
			</div>
			<ul class="files">
			
				<li ng-repeat="file in files" ng-click="setFile($event)" ng-class="{active: file.selected == true}"><i class="aristo icon-file"></i> {{file.label}}</li>
				
				<li ng-repeat="ufile in uploads" class="upload" ng-hide="ufile.complete"><span class="progress" ng-class="{error: ufile.error}" style="{{ufile.cssprogress}}"></span><span class="label"><i class="aristo icon-refresh-1"></i> {{ufile.name}}</span></li>
				
			</ul>
			<uploadbox>{{droptext}}
				<input type="file" ng-model-instant id="fileToUpload" multiple />
			</uploadbox>
			<div class="panel-bottom">
			
			</div>
		</div>
</div>