<div class="pages">
	<div class="divider">
		<div class="panel"> 
			<ul class="tree folders unselectable" ng-tree="pagetree" >
				<li ng-class="{'tree-opened': item.isopen}">
					<div ng-click="pageSelect()" ng-class="{selected: item.pageId==selectedPage.pageId}">
						<i ng-class="{'tree-opened': item.isopen, 'tree-closed': !item.isopen, hidden: !hasChildren(), 'tree-icon': true}" ng-click="pageOpenClose()"  stop-event='click'></i>
						<i class="fa fa-{{item.icon}}"></i> 
						{{item.label}}
					</div>
				</li>
			</ul>
			
		
		</div>
		<div class="panel" ui-view>
		list
		</div>
</div>