<div class="pages">
	<divider onwidthchange="updateWidths(widths)" widths="administrator.preferences.pages.dividers">
		<div class="panel dimmed-panel"> 
			<h2>{{settings.sitename}}</h2>
			<ul class="tree folders unselectable" ng-tree="pagetree" >
				<li ng-class="{'tree-opened': item.isopen}">
					<div ng-click="pageSelect()" ng-class="{selected: item.selected}">
						<i ng-class="{'tree-opened': item.isopen, 'tree-closed': !item.isopen, hidden: !hasChildren(), 'tree-icon': true}" ng-click="pageOpenClose()"  stop-event='click'></i>
						<i class="fa fa-{{item.icon}}"></i>
						<span class="tree-label" ng-click="pageEdit()">{{item.label}}</span>
					</div>
				</li>
			</ul>
			
		
		</div>
		<div class="panel" ui-view>
			list
		</div>
	</divider>
</div>