<div class="panel">
	<div class="clearfix">
		<div class="buttons pull-right">
			<button l10n-text="general.cancel" ng-click="cancel()">Cancel</button>
			<button l10n-text="general.saveas">Save as</button>
			<button l10n-text="general.save" ng-click="save()">Save</button>
		</div>
		
		<h2 l10n-text="modules.templates">Template</h2>
	</div>
	
	<div>
		<tabs>
			<pane title="Settings">
				<label><span l10n-text="content.label">Label</span> <input type="text" required ng-model="template.label"/></label>
				<label><span l10n-text="content.displaylabel">Displaylabel</span> <input type="text" required ng-model="template.displaylabel"/></label>
				<label>
					<span l10n-text="templates.templatetype">Type</span> 
					<select required 
						ng-model="template.templateType" 
						ng-options="type.label for type in templateTypes"
						ng-change="setType()" >
					</select>
				</label>
				<label><span l10n-text="content.icon">Icon</span> 
						<input type="hidden" ng-model="template.icon"/>
						<i class="fa fa-{{template.icon}}"></i> <button l10n-text="general.edit" ng-click="selectIcon()"></button>
				</label>
			
			</pane>
			
			<pane title="Fields">
				<img src="/bright/cms/img/510.jpg" width="100" id="dummy" />
				<ul class="alternating no-bullets" droppable drop="onFieldDrop" id="template-fields-list">
					<li ng-repeat="field in template.fields" draggable id="template-field-{{field.id}}" data-displaylabel="{field.displaylabel}">
						<label><span l10n-text="content.label">Label</span> <input type="text" required ng-model="field.label"/></label>
						<label><span l10n-text="content.displaylabel">Displaylabel</span> <input type="text" required ng-model="field.displaylabel"/></label>
						<label>
							<span l10n-text="templates.fieldtype">Type</span>
							<select required 
								ng-model="field.field" 
								ng-options="fieldtype.displaylabel for fieldtype in fieldtypes"
								ng-change="setFieldType()" >
							</select>
						</label>
					</li>
				</ul>
			
			</pane>
		</tabs>
		
	</div>
</div>