.flags {
    background: url(../img/flags.png) no-repeat top left;
    display: inline-block;
}
.flags.flag-_ASEAN{ background-position: 0 0; width: 16px; height: 16px; } 
.flags.flag-_AfricanUnionOAS{ background-position: 0 -34px; width: 16px; height: 16px; } 
.flags.flag-_ArabLeague{ background-position: 0 -68px; width: 16px; height: 16px; } 
.flags.flag-_CARICOM{ background-position: 0 -102px; width: 16px; height: 16px; } 
.flags.flag-_CIS{ background-position: 0 -136px; width: 16px; height: 16px; } 
.flags.flag-_Commonwealth{ background-position: 0 -170px; width: 16px; height: 16px; } 
.flags.flag-_England{ background-position: 0 -204px; width: 16px; height: 16px; } 
.flags.flag-_EuropeanUnion{ background-position: 0 -238px; width: 16px; height: 16px; } 
.flags.flag-_IslamicConference{ background-position: 0 -272px; width: 16px; height: 16px; } 
.flags.flag-_Kosovo{ background-position: 0 -306px; width: 16px; height: 16px; } 
.flags.flag-_NATO{ background-position: 0 -340px; width: 16px; height: 16px; } 
.flags.flag-_NorthernCyprus{ background-position: 0 -374px; width: 16px; height: 16px; } 
.flags.flag-_NorthernIreland{ background-position: 0 -408px; width: 16px; height: 16px; } 
.flags.flag-_OPEC{ background-position: 0 -442px; width: 16px; height: 16px; } 
.flags.flag-_OlimpicMovement{ background-position: 0 -476px; width: 16px; height: 16px; } 
.flags.flag-_RedCross{ background-position: 0 -510px; width: 16px; height: 16px; } 
.flags.flag-_Scotland{ background-position: 0 -544px; width: 16px; height: 16px; } 
.flags.flag-_Somaliland{ background-position: 0 -578px; width: 16px; height: 16px; } 
.flags.flag-_UnitedNations{ background-position: 0 -612px; width: 16px; height: 16px; } 
.flags.flag-_Wales{ background-position: 0 -646px; width: 16px; height: 16px; } 
.flags.flag-ad{ background-position: 0 -680px; width: 16px; height: 16px; } 
.flags.flag-ae{ background-position: 0 -714px; width: 16px; height: 16px; } 
.flags.flag-af{ background-position: 0 -748px; width: 16px; height: 16px; } 
.flags.flag-ag{ background-position: 0 -782px; width: 16px; height: 16px; } 
.flags.flag-ai{ background-position: 0 -816px; width: 16px; height: 16px; } 
.flags.flag-al{ background-position: 0 -850px; width: 16px; height: 16px; } 
.flags.flag-am{ background-position: 0 -884px; width: 16px; height: 16px; } 
.flags.flag-an{ background-position: 0 -918px; width: 16px; height: 16px; } 
.flags.flag-ao{ background-position: 0 -952px; width: 16px; height: 16px; } 
.flags.flag-aq{ background-position: 0 -986px; width: 16px; height: 16px; } 
.flags.flag-ar{ background-position: 0 -1020px; width: 16px; height: 16px; } 
.flags.flag-as{ background-position: 0 -1054px; width: 16px; height: 16px; } 
.flags.flag-at{ background-position: 0 -1088px; width: 16px; height: 16px; } 
.flags.flag-au{ background-position: 0 -1122px; width: 16px; height: 16px; } 
.flags.flag-aw{ background-position: 0 -1156px; width: 16px; height: 16px; } 
.flags.flag-az{ background-position: 0 -1190px; width: 16px; height: 16px; } 
.flags.flag-ba{ background-position: 0 -1224px; width: 16px; height: 16px; } 
.flags.flag-bb{ background-position: 0 -1258px; width: 16px; height: 16px; } 
.flags.flag-bd{ background-position: 0 -1292px; width: 16px; height: 16px; } 
.flags.flag-be{ background-position: 0 -1326px; width: 16px; height: 16px; } 
.flags.flag-bf{ background-position: 0 -1360px; width: 16px; height: 16px; } 
.flags.flag-bg{ background-position: 0 -1394px; width: 16px; height: 16px; } 
.flags.flag-bh{ background-position: 0 -1428px; width: 16px; height: 16px; } 
.flags.flag-bi{ background-position: 0 -1462px; width: 16px; height: 16px; } 
.flags.flag-bj{ background-position: 0 -1496px; width: 16px; height: 16px; } 
.flags.flag-bm{ background-position: 0 -1530px; width: 16px; height: 16px; } 
.flags.flag-bn{ background-position: 0 -1564px; width: 16px; height: 16px; } 
.flags.flag-bo{ background-position: 0 -1598px; width: 16px; height: 16px; } 
.flags.flag-br{ background-position: 0 -1632px; width: 16px; height: 16px; } 
.flags.flag-bs{ background-position: 0 -1666px; width: 16px; height: 16px; } 
.flags.flag-bt{ background-position: 0 -1700px; width: 16px; height: 16px; } 
.flags.flag-bw{ background-position: 0 -1734px; width: 16px; height: 16px; } 
.flags.flag-by{ background-position: 0 -1768px; width: 16px; height: 16px; } 
.flags.flag-bz{ background-position: 0 -1802px; width: 16px; height: 16px; } 
.flags.flag-ca{ background-position: 0 -1836px; width: 16px; height: 16px; } 
.flags.flag-cd{ background-position: 0 -1870px; width: 16px; height: 16px; } 
.flags.flag-cf{ background-position: 0 -1904px; width: 16px; height: 16px; } 
.flags.flag-cg{ background-position: 0 -1938px; width: 16px; height: 16px; } 
.flags.flag-ch{ background-position: 0 -1972px; width: 16px; height: 16px; } 
.flags.flag-ci{ background-position: -34px 0; width: 16px; height: 16px; } 
.flags.flag-ck{ background-position: -34px -34px; width: 16px; height: 16px; } 
.flags.flag-cl{ background-position: -34px -68px; width: 16px; height: 16px; } 
.flags.flag-cm{ background-position: -34px -102px; width: 16px; height: 16px; } 
.flags.flag-cn{ background-position: -34px -136px; width: 16px; height: 16px; } 
.flags.flag-co{ background-position: -34px -170px; width: 16px; height: 16px; } 
.flags.flag-cr{ background-position: -34px -204px; width: 16px; height: 16px; } 
.flags.flag-cu{ background-position: -34px -238px; width: 16px; height: 16px; } 
.flags.flag-cv{ background-position: -34px -272px; width: 16px; height: 16px; } 
.flags.flag-cy{ background-position: -34px -306px; width: 16px; height: 16px; } 
.flags.flag-cz{ background-position: -34px -340px; width: 16px; height: 16px; } 
.flags.flag-de{ background-position: -34px -374px; width: 16px; height: 16px; } 
.flags.flag-dj{ background-position: -34px -408px; width: 16px; height: 16px; } 
.flags.flag-dk{ background-position: -34px -442px; width: 16px; height: 16px; } 
.flags.flag-dm{ background-position: -34px -476px; width: 16px; height: 16px; } 
.flags.flag-do{ background-position: -34px -510px; width: 16px; height: 16px; } 
.flags.flag-dz{ background-position: -34px -544px; width: 16px; height: 16px; } 
.flags.flag-ec{ background-position: -34px -578px; width: 16px; height: 16px; } 
.flags.flag-ee{ background-position: -34px -612px; width: 16px; height: 16px; } 
.flags.flag-eg{ background-position: -34px -646px; width: 16px; height: 16px; } 
.flags.flag-eh{ background-position: -34px -680px; width: 16px; height: 16px; } 
.flags.flag-er{ background-position: -34px -714px; width: 16px; height: 16px; } 
.flags.flag-es{ background-position: -34px -748px; width: 16px; height: 16px; } 
.flags.flag-et{ background-position: -34px -782px; width: 16px; height: 16px; } 
.flags.flag-fi{ background-position: -34px -816px; width: 16px; height: 16px; } 
.flags.flag-fj{ background-position: -34px -850px; width: 16px; height: 16px; } 
.flags.flag-fm{ background-position: -34px -884px; width: 16px; height: 16px; } 
.flags.flag-fo{ background-position: -34px -918px; width: 16px; height: 16px; } 
.flags.flag-fr{ background-position: -34px -952px; width: 16px; height: 16px; } 
.flags.flag-fy{ background-position: -34px -986px; width: 16px; height: 16px; } 
.flags.flag-ga{ background-position: -34px -1020px; width: 16px; height: 16px; } 
.flags.flag-en{ background-position: -34px -1054px; width: 16px; height: 16px; } 
.flags.flag-gd{ background-position: -34px -1088px; width: 16px; height: 16px; } 
.flags.flag-ge{ background-position: -34px -1122px; width: 16px; height: 16px; } 
.flags.flag-gg{ background-position: -34px -1156px; width: 16px; height: 16px; } 
.flags.flag-gh{ background-position: -34px -1190px; width: 16px; height: 16px; } 
.flags.flag-gi{ background-position: -34px -1224px; width: 16px; height: 16px; } 
.flags.flag-gl{ background-position: -34px -1258px; width: 16px; height: 16px; } 
.flags.flag-gm{ background-position: -34px -1292px; width: 16px; height: 16px; } 
.flags.flag-gn{ background-position: -34px -1326px; width: 16px; height: 16px; } 
.flags.flag-gp{ background-position: -34px -1360px; width: 16px; height: 16px; } 
.flags.flag-gq{ background-position: -34px -1394px; width: 16px; height: 16px; } 
.flags.flag-gr{ background-position: -34px -1428px; width: 16px; height: 16px; } 
.flags.flag-gt{ background-position: -34px -1462px; width: 16px; height: 16px; } 
.flags.flag-gu{ background-position: -34px -1496px; width: 16px; height: 16px; } 
.flags.flag-gw{ background-position: -34px -1530px; width: 16px; height: 16px; } 
.flags.flag-gy{ background-position: -34px -1564px; width: 16px; height: 16px; } 
.flags.flag-hk{ background-position: -34px -1598px; width: 16px; height: 16px; } 
.flags.flag-hn{ background-position: -34px -1632px; width: 16px; height: 16px; } 
.flags.flag-hr{ background-position: -34px -1666px; width: 16px; height: 16px; } 
.flags.flag-ht{ background-position: -34px -1700px; width: 16px; height: 16px; } 
.flags.flag-hu{ background-position: -34px -1734px; width: 16px; height: 16px; } 
.flags.flag-id{ background-position: -34px -1768px; width: 16px; height: 16px; } 
.flags.flag-ie{ background-position: -34px -1802px; width: 16px; height: 16px; } 
.flags.flag-il{ background-position: -34px -1836px; width: 16px; height: 16px; } 
.flags.flag-im{ background-position: -34px -1870px; width: 16px; height: 16px; } 
.flags.flag-in{ background-position: -34px -1904px; width: 16px; height: 16px; } 
.flags.flag-iq{ background-position: -34px -1938px; width: 16px; height: 16px; } 
.flags.flag-ir{ background-position: -34px -1972px; width: 16px; height: 16px; } 
.flags.flag-is{ background-position: -68px 0; width: 16px; height: 16px; } 
.flags.flag-it{ background-position: -68px -34px; width: 16px; height: 16px; } 
.flags.flag-je{ background-position: -68px -68px; width: 16px; height: 16px; } 
.flags.flag-jm{ background-position: -68px -102px; width: 16px; height: 16px; } 
.flags.flag-jo{ background-position: -68px -136px; width: 16px; height: 16px; } 
.flags.flag-jp{ background-position: -68px -170px; width: 16px; height: 16px; } 
.flags.flag-ke{ background-position: -68px -204px; width: 16px; height: 16px; } 
.flags.flag-kg{ background-position: -68px -238px; width: 16px; height: 16px; } 
.flags.flag-kh{ background-position: -68px -272px; width: 16px; height: 16px; } 
.flags.flag-ki{ background-position: -68px -306px; width: 16px; height: 16px; } 
.flags.flag-km{ background-position: -68px -340px; width: 16px; height: 16px; } 
.flags.flag-kn{ background-position: -68px -374px; width: 16px; height: 16px; } 
.flags.flag-kp{ background-position: -68px -408px; width: 16px; height: 16px; } 
.flags.flag-kr{ background-position: -68px -442px; width: 16px; height: 16px; } 
.flags.flag-kw{ background-position: -68px -476px; width: 16px; height: 16px; } 
.flags.flag-ky{ background-position: -68px -510px; width: 16px; height: 16px; } 
.flags.flag-kz{ background-position: -68px -544px; width: 16px; height: 16px; } 
.flags.flag-la{ background-position: -68px -578px; width: 16px; height: 16px; } 
.flags.flag-lb{ background-position: -68px -612px; width: 16px; height: 16px; } 
.flags.flag-lc{ background-position: -68px -646px; width: 16px; height: 16px; } 
.flags.flag-li{ background-position: -68px -680px; width: 16px; height: 16px; } 
.flags.flag-lk{ background-position: -68px -714px; width: 16px; height: 16px; } 
.flags.flag-lr{ background-position: -68px -748px; width: 16px; height: 16px; } 
.flags.flag-ls{ background-position: -68px -782px; width: 16px; height: 16px; } 
.flags.flag-lt{ background-position: -68px -816px; width: 16px; height: 16px; } 
.flags.flag-lu{ background-position: -68px -850px; width: 16px; height: 16px; } 
.flags.flag-lv{ background-position: -68px -884px; width: 16px; height: 16px; } 
.flags.flag-ly{ background-position: -68px -918px; width: 16px; height: 16px; } 
.flags.flag-ma{ background-position: -68px -952px; width: 16px; height: 16px; } 
.flags.flag-mc{ background-position: -68px -986px; width: 16px; height: 16px; } 
.flags.flag-md{ background-position: -68px -1020px; width: 16px; height: 16px; } 
.flags.flag-me{ background-position: -68px -1054px; width: 16px; height: 16px; } 
.flags.flag-mg{ background-position: -68px -1088px; width: 16px; height: 16px; } 
.flags.flag-mh{ background-position: -68px -1122px; width: 16px; height: 16px; } 
.flags.flag-mk{ background-position: -68px -1156px; width: 16px; height: 16px; } 
.flags.flag-ml{ background-position: -68px -1190px; width: 16px; height: 16px; } 
.flags.flag-mm{ background-position: -68px -1224px; width: 16px; height: 16px; } 
.flags.flag-mn{ background-position: -68px -1258px; width: 16px; height: 16px; } 
.flags.flag-mo{ background-position: -68px -1292px; width: 16px; height: 16px; } 
.flags.flag-mq{ background-position: -68px -1326px; width: 16px; height: 16px; } 
.flags.flag-mr{ background-position: -68px -1360px; width: 16px; height: 16px; } 
.flags.flag-ms{ background-position: -68px -1394px; width: 16px; height: 16px; } 
.flags.flag-mt{ background-position: -68px -1428px; width: 16px; height: 16px; } 
.flags.flag-mu{ background-position: -68px -1462px; width: 16px; height: 16px; } 
.flags.flag-mv{ background-position: -68px -1496px; width: 16px; height: 16px; } 
.flags.flag-mw{ background-position: -68px -1530px; width: 16px; height: 16px; } 
.flags.flag-mx{ background-position: -68px -1564px; width: 16px; height: 16px; } 
.flags.flag-my{ background-position: -68px -1598px; width: 16px; height: 16px; } 
.flags.flag-mz{ background-position: -68px -1632px; width: 16px; height: 16px; } 
.flags.flag-na{ background-position: -68px -1666px; width: 16px; height: 16px; } 
.flags.flag-nc{ background-position: -68px -1700px; width: 16px; height: 16px; } 
.flags.flag-ne{ background-position: -68px -1734px; width: 16px; height: 16px; } 
.flags.flag-ng{ background-position: -68px -1768px; width: 16px; height: 16px; } 
.flags.flag-ni{ background-position: -68px -1802px; width: 16px; height: 16px; } 
.flags.flag-nl{ background-position: -68px -1836px; width: 16px; height: 16px; } 
.flags.flag-no{ background-position: -68px -1870px; width: 16px; height: 16px; } 
.flags.flag-np{ background-position: -68px -1904px; width: 16px; height: 16px; } 
.flags.flag-nr{ background-position: -68px -1938px; width: 16px; height: 16px; } 
.flags.flag-nz{ background-position: -68px -1972px; width: 16px; height: 16px; } 
.flags.flag-om{ background-position: -102px 0; width: 16px; height: 16px; } 
.flags.flag-pa{ background-position: -102px -34px; width: 16px; height: 16px; } 
.flags.flag-pe{ background-position: -102px -68px; width: 16px; height: 16px; } 
.flags.flag-pf{ background-position: -102px -102px; width: 16px; height: 16px; } 
.flags.flag-pg{ background-position: -102px -136px; width: 16px; height: 16px; } 
.flags.flag-ph{ background-position: -102px -170px; width: 16px; height: 16px; } 
.flags.flag-pk{ background-position: -102px -204px; width: 16px; height: 16px; } 
.flags.flag-pl{ background-position: -102px -238px; width: 16px; height: 16px; } 
.flags.flag-pr{ background-position: -102px -272px; width: 16px; height: 16px; } 
.flags.flag-ps{ background-position: -102px -306px; width: 16px; height: 16px; } 
.flags.flag-pt{ background-position: -102px -340px; width: 16px; height: 16px; } 
.flags.flag-pw{ background-position: -102px -374px; width: 16px; height: 16px; } 
.flags.flag-py{ background-position: -102px -408px; width: 16px; height: 16px; } 
.flags.flag-qa{ background-position: -102px -442px; width: 16px; height: 16px; } 
.flags.flag-re{ background-position: -102px -476px; width: 16px; height: 16px; } 
.flags.flag-ro{ background-position: -102px -510px; width: 16px; height: 16px; } 
.flags.flag-rs{ background-position: -102px -544px; width: 16px; height: 16px; } 
.flags.flag-ru{ background-position: -102px -578px; width: 16px; height: 16px; } 
.flags.flag-rw{ background-position: -102px -612px; width: 16px; height: 16px; } 
.flags.flag-sa{ background-position: -102px -646px; width: 16px; height: 16px; } 
.flags.flag-sb{ background-position: -102px -680px; width: 16px; height: 16px; } 
.flags.flag-sc{ background-position: -102px -714px; width: 16px; height: 16px; } 
.flags.flag-sd{ background-position: -102px -748px; width: 16px; height: 16px; } 
.flags.flag-se{ background-position: -102px -782px; width: 16px; height: 16px; } 
.flags.flag-sg{ background-position: -102px -816px; width: 16px; height: 16px; } 
.flags.flag-si{ background-position: -102px -850px; width: 16px; height: 16px; } 
.flags.flag-sk{ background-position: -102px -884px; width: 16px; height: 16px; } 
.flags.flag-sl{ background-position: -102px -918px; width: 16px; height: 16px; } 
.flags.flag-sm{ background-position: -102px -952px; width: 16px; height: 16px; } 
.flags.flag-sn{ background-position: -102px -986px; width: 16px; height: 16px; } 
.flags.flag-so{ background-position: -102px -1020px; width: 16px; height: 16px; } 
.flags.flag-sr{ background-position: -102px -1054px; width: 16px; height: 16px; } 
.flags.flag-st{ background-position: -102px -1088px; width: 16px; height: 16px; } 
.flags.flag-sv{ background-position: -102px -1122px; width: 16px; height: 16px; } 
.flags.flag-sy{ background-position: -102px -1156px; width: 16px; height: 16px; } 
.flags.flag-sz{ background-position: -102px -1190px; width: 16px; height: 16px; } 
.flags.flag-tc{ background-position: -102px -1224px; width: 16px; height: 16px; } 
.flags.flag-td{ background-position: -102px -1258px; width: 16px; height: 16px; } 
.flags.flag-tg{ background-position: -102px -1292px; width: 16px; height: 16px; } 
.flags.flag-th{ background-position: -102px -1326px; width: 16px; height: 16px; } 
.flags.flag-tj{ background-position: -102px -1360px; width: 16px; height: 16px; } 
.flags.flag-tl{ background-position: -102px -1394px; width: 16px; height: 16px; } 
.flags.flag-tm{ background-position: -102px -1428px; width: 16px; height: 16px; } 
.flags.flag-tn{ background-position: -102px -1462px; width: 16px; height: 16px; } 
.flags.flag-to{ background-position: -102px -1496px; width: 16px; height: 16px; } 
.flags.flag-tr{ background-position: -102px -1530px; width: 16px; height: 16px; } 
.flags.flag-tt{ background-position: -102px -1564px; width: 16px; height: 16px; } 
.flags.flag-tv{ background-position: -102px -1598px; width: 16px; height: 16px; } 
.flags.flag-tw{ background-position: -102px -1632px; width: 16px; height: 16px; } 
.flags.flag-tz{ background-position: -102px -1666px; width: 16px; height: 16px; } 
.flags.flag-ua{ background-position: -102px -1700px; width: 16px; height: 16px; } 
.flags.flag-ug{ background-position: -102px -1734px; width: 16px; height: 16px; } 
.flags.flag-us{ background-position: -102px -1768px; width: 16px; height: 16px; } 
.flags.flag-uy{ background-position: -102px -1802px; width: 16px; height: 16px; } 
.flags.flag-uz{ background-position: -102px -1836px; width: 16px; height: 16px; } 
.flags.flag-va{ background-position: -102px -1870px; width: 16px; height: 16px; } 
.flags.flag-vc{ background-position: -102px -1904px; width: 16px; height: 16px; } 
.flags.flag-ve{ background-position: -102px -1938px; width: 16px; height: 16px; } 
.flags.flag-vg{ background-position: -102px -1972px; width: 16px; height: 16px; } 
.flags.flag-vi{ background-position: -136px 0; width: 16px; height: 16px; } 
.flags.flag-vn{ background-position: -136px -34px; width: 16px; height: 16px; } 
.flags.flag-vu{ background-position: -136px -68px; width: 16px; height: 16px; } 
.flags.flag-ws{ background-position: -136px -102px; width: 16px; height: 16px; } 
.flags.flag-ye{ background-position: -136px -136px; width: 16px; height: 16px; } 
.flags.flag-za{ background-position: -136px -170px; width: 16px; height: 16px; } 
.flags.flag-zm{ background-position: -136px -204px; width: 16px; height: 16px; } 
.flags.flag-zw{ background-position: -136px -238px; width: 16px; height: 16px; } 
